{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="hero poppins">The Best Normalizer
        <span class="montserrat-alt gradient-hero">Apache Log's</span>
        <button class="gm-btn btn">
            <a
                class="link-list-header poppins white"
                href="/dashboard"
            >
                GET STARTED
            </a>
        </button>
    </h1>
</div>


    

{% endblock %}
