{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

    {% for post in blogs %}
        <a href="/blog/{{ post.id }}" >{{ post.title }}</a>
        <img width="400px" src={{ post.img }} />
        {{ post.content }}
        <hr>
    {% endfor %}

{% endblock %}
