{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="column-25 border-4 poppins">
            <h1 class="white">
                Filter :
            </h1>
        </div>
        <div class="column-75 poppins">
            <h1 class="white">
                Logs :
                
            </h1>
            <div class="container-log">
                
            </div>
        </div>
    </div>
{% endblock %}
