.violet {
    color: rgb(138, 43, 226) !important;
}

.red {
    color: rgb(255, 68, 0) !important;
}

.orange {
    color: rgb(255, 166, 0) !important;
}

.green {
    color: rgb(0, 255, 0) !important;
}

.white {
    color: #f5c4ff !important;
}

.black {
    color: #000 !important;
}