@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Montserrat:wght@200&family=Poppins:wght@300&display=swap');
/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poppins', sans-serif;
*/

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.montserrat-alt {
    font-family: 'Montserrat Alternates', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}