.container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 60px;
    padding: 3em 0 0 0;
}

.gradient-hero {
    background-image: linear-gradient(135deg, rgba(0, 194, 255, 1) 0%, rgba(244, 0, 255, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}