.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-logo {
    display: flex;
    flex-direction: row;
}

.img-header-logo {
    width: 25%;
    height: 25%;
}

.group-list-header {
    display: flex;
    flex-direction: row;
}

.element-list-header {
    list-style-type: none;
    padding: 0.5em 0.2em;
    margin: 0 0.5em;
}

.link-list-header {
    text-decoration: none;
}

.gradient-hero {
    background-image: linear-gradient(135deg, rgba(0, 194, 255, 1) 0%, rgba(244, 0, 255, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}