body {
    background-color: #15001F;
    color: #fff;
    margin: 0;
    padding: 0 10% ;
    top: 0;
}

.row {
    display: flex;
}

.column-25 {
    flex: 25%;
}

.column-50 {
    flex: 50%;
}

.column-75 {
    flex: 75%;
}

ul, ol {
    padding-left: 0;
}

li {
margin-left: 0;
}

.column-33 {
    flex: 33%;
}

.column-66 {
    flex: 66%;
}

.border-4 {
    border: 4px solid #FF00F5;
    margin: 0.5em;
    padding: 0.5em;
}

hr {
    height: 1px;
    background-color: #5e5e5e;
    border: none;
}

.form-control {
    border: 2px solid #FF00F5;
    background-color: transparent;
    padding: 8px;
    width: 90%;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-control:focus {
    border: 2px solid rgb(255, 143, 199);
  }